.themeSwitch {
  user-select: none;
  display: inline-flex;
  border-radius: var(--radius);
  padding: var(--gap);
  background-color: transparent;
  color: var(--neutral-tint) !important;
  will-change: transform;
  transition: all 0.1s cubic-bezier(0.01, 0.88, 0.93, 0.07);
  line-height: 50%;
  border: none;
  cursor: pointer;
}

.themeSwitch:active,
.themeSwitch:hover,
.themeSwitch:focus-within {
  color: var(--fg) !important;
  background: var(--bg-hover) !important;
  transition: all 200ms;
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  .themeSwitch,
  .themeSwitch:hover {
    transition: none;
  }
}
