.loading,
.nowPlaying {
  font-weight: 600;
  font-size: 1rem;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 0.3rem;
}
@media screen and (max-width: 768px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.2em;
}

.songContainer {
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .songContainer {
    max-width: 250px;
    display: flex;
    align-items: center;
    gap: 0.2em;
    padding: 0;
  }
}

.songImage {
  height: 1.2rem;
  width: 1.2rem;
}
@media screen and (max-width: 768px) {
  .songImage {
    height: 2.3rem;
    width: 2.3rem;
  }
}

.songDetails {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1rem;
  overflow: hidden;
  gap: 0.2em;
}
@media screen and (max-width: 768px) {
  .songDetails {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    overflow: hidden;
    gap: 0;
  }
}

.songLink {
  font-weight: 500;
  line-height: 1.4;
  color: #1ed760;
  transition: color 0.2s ease-in;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.songLink:hover {
  color: #16a34a;
}

.songArtist {
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hidden {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .hidden {
    display: none;
  }
}
