.context > * + * {
  margin-top: var(--gap-half);
}

.label {
  color: red;
}

.description {
  font-size: 0.8rem;
  color: var(--fg-2);
}

.message {
  font-weight: 500;
  font-size: 0.8rem;
  color: red;
}
