.textarea {
  margin: 0;
  padding: var(--gap-half);
  display: flex;
  width: 100%;
  min-height: 5rem;
  font-size: 1rem;
  border-radius: var(--inline-radius);
  border: 1px solid var(--neutral);
  background: var(--bg);
  color: var(--fg-);
  transition: border-color var(--transition);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.textarea:focus {
  border: 1.5px solid var(--fg);
  background: var(--bg-hover);
  outline: none;
}

.textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--fg);
}

.textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
