.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper .date {
  font-weight: 500;
  font-size: 1rem;
  color: var(--neutral);
}

.wrapper .lastModified {
  color: var(--neutral);
  font-size: 0.8rem;
  font-weight: 500;
}

.wrapper .title {
  margin-top: 1rem;
}

.content {
  overflow: auto;
  color: var(tinted-gray);
  font-weight: 500;
  margin-left: var(--gap-double);
}

.icon {
  color: var(--neutral) !important;
  padding: var(--gap-half) !important;
}
